<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>

    <meta name="full-screen" content="true"/>
    <meta name="screen-orientation" content="portrait"/>
    <meta name="x5-fullscreen" content="true"/>
    <meta name="360-fullscreen" content="true"/>
    <meta name="viewport" id="viewport" content="initial-scale=1, user-scalable=no" />

    <style>
        body {
            text-align: center;
            background: #000000;
            padding: 0;
            border: 0;
            margin: 0 auto;
        }

    </style>

    <script>
        jsFileListPrefix = "../";
    </script>

</head>
<body>
    <div id="gameDiv" style="display:block;width:100%;height:100px; margin: 0 auto; background: black; position:relative;">
        <canvas id="gameCanvas" width="480" height="800"></canvas>
    </div>
</body>

<script type="text/javascript" src="egret_loader.js"></script>
<script type="text/javascript" src="../game/egret.js"></script>
<script type="text/javascript" src="../game/game_file_list.js"></script>
<script type="text/javascript" src="main.js"></script>
<script>
    egret_h5.prefix = "";
    egret_h5.loadScript(game_file_list, egret_h5.startGame);
</script>

</html>