bin-debug/
.idea/
tools/node_modules
src/egret/**/*.js
src/egret/**/**/*.js
src/extension/dragonbones/*.js
src/extension/dragonbones/**/*.js
src/extension/gui/*.js
src/extension/gui/**/*.js
src/extension/resource/*.js
src/extension/resource/**/*.js
src/extension/socket/*.js
src/extension/socket/**/*.js
src/extension/version/*.js
src/extension/version/**/*.js
src/extension/eui/**/*.js
tools/nodejs/buildTS.local
*.local
*.map
.idea
/tools/lib/exml/src/code/skins/Panel.js
/tools/lib/exml/src/code/skins/Panel.ts
/tools/lib/exml/src/code/components/Button.js
/tools/lib/exml/src/egret.d.ts

node_modules

*~
.DS_Store
.[Tt]humb
*.config
obj/
*.user
*.suo
*.sln
*.csproj
*.ide/
npm-debug.log
src/tsc_config_temp.txt
