bin-debug/
node_modules/
.idea/
tools/node_modules
src/egret/**/*.js
src/egret/**/**/*.js
src/extension/**/*.js
src/extension/**/**/*.js

tools/nodejs/buildTS.local
*.local
*.map
.idea
/tools/lib/exml/src/code/skins/Panel.js
/tools/lib/exml/src/code/skins/Panel.ts
/tools/lib/exml/src/code/components/Button.js
/tools/lib/exml/src/egret.d.ts

*.swp
*~
.DS_Store
.[Tt]humb
*.config
obj/
*.user
*.suo
*.sln
*.csproj
*.ide/
npm-debug.log
src/tsc_config_temp.txt
/bin
/tsconfig.json
/egret
/EgretEngine
